profiles {

     local {
         process.executor = 'local'
         singularity.cacheDir = '/nfs/scratch/singularity_cache'	
	 executor.cpus = 6
	 process.cpu = '1'
  	 executor.queueSize = 6
     }

     slurm {
         executor.queueSize = 20
         process.executor = 'slurm'
	 process.cpu = '10'
	 process.memory = '30 GB'
         singularity.enabled = true
         singularity.autoMounts = true
         singularity.cacheDir = '/nfs/scratch/singularity_cache'
     }

}
